@import url(http://fonts.googleapis.com/css?family=Lato);

.container1
{
    display:inline-block;   overflow:hidden;
    display:inline-block;
    width: 100% ;
}
.side-bar
{
    background:#00948A;
    position:absolute;
    height:100vh;
    width:200px;
    color:#fff;
    transition: margin-left 0.5s;
}

.side-bar ul
{
    list-style:none;
    padding:0px;

}

.side-bar ul li.menu-head
{
    font-family: 'Lato', sans-serif;
    padding:20px;
}


.side-bar ul li.menu-head a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}


.side-bar ul .menu-head  a
{
    color:#fff;
    text-decoration:none;
    height:50px;
}

.side-bar ul .menu li  a
{
    color:#fff;
    text-decoration:none;
    display:inline-table;
    width:100%;
    padding-left:20px;
    padding-right:20px;
    padding-top:10px;
    padding-bottom:10px;
}

.side-bar ul .menu li  a:hover
{
    border-left:3px solid #ECECEA;
    padding-left:17px;
}

.side-bar ul .menu li  a.active
{
    padding-left:17px;
    background:#D9853B;
    border-left:3px solid #ECECEA;
}

.side-bar ul .menu li  a.active:before {
   content:"";
   position: absolute;
   width: 0;
   height: 0;
   border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;

	border-left: 7px solid #D9853B;
    margin-top: -10px;
    margin-left: 180px;
}


.content
{
 padding-left: 200px;
 transition: padding-left 0.5s;
 width: auto;
 display: inline-block;
}

.active > .side-bar
{
    margin-left:-130px;
    transition: margin-left 0.5s;
}

.active > .content
{
    padding-left:70px;
    transition: padding-left 0.5s;
}

.inner-content{
  property: inherit;
  padding: 20px;
  width: inherit;
}
