<h1>Add Categories</h1>

<section>
  <form action="/category/add" method="post">

    <div class="form-group">
      <label for="category_name">Category Name</label>
      <input type="text" name="category_name" id="category_name" class="form-control" required>
    </div>


    <!-- action buttons -->
    <button type="submit" class="btn btn-outline-success">Add</button>
  </form>
</section>