<h1>$exam.getTitle()</h1>

<p>Time = $exam.getTime()</p>

<p>Duration = $exam.getDuration() minutes</p>

<p>Difficulty = $exam.getDifficultyString()</p>

<ul>
  <li><a href="/exams/$exam.getId()/1" class="btn btn-primary">Set 1</a></li>
  <li><a href="/exams/$exam.getId()/2" class="btn btn-primary">Set 2</a></li>
  <li><a href="/exams/$exam.getId()/3" class="btn btn-primary">Set 3</a></li>
</ul>
