<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <!-- DASHBOARD STYLE  -->
    <link href="/css/admin.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE  -->
    <link href="/css/font-awesome.css" rel="stylesheet" />
    <!-- CUSTOM STYLE  -->
    <link href="/css/style.css" rel="stylesheet" />
    <!-- GOOGLE FONTS  -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css' />
<title>LIS QSG</title>
</head>
  <body>
    <section class="menu-section">
        <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <a class="navbar-brand" href="http://www.lisnepal.com.np/">

                    <img src="/img/logo_LIS1.gif" />
                </a>
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a href="" class="menu-top-active" >HOME</a></li>

                            <li><a href="#">PAGE A</a></li>
                             <li><a href="#" >PAGE B</a></li>
                             <li><a href="#">PAGE C</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
     <!-- MENU SECTION END-->
<div class="container1">
<div class="row">
<div class="wrapper">
    <div class="content">
      <div class="inner-content">
         #parse( $template )
      </div>
    </div>
</div>
</div>
</div>



     <!--CORE SCRIPTS PLUGIN-->
    <script src="/js/jquery-1.11.1.min.js"></script>
     <!--BOOTSTRAP SCRIPTS PLUGIN-->
     <script src="/js/bootstrap.js"></script>
     <!--DASHBOARD SCRIPTS PLUGIN-->
    <script src="/js/admin.js"></script>
      </body>
</html>
